<link rel="stylesheet" href="./css/sideBar.css">

<div class="sidenav">
  <ul>
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-solid fa-chart-line" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item me-auto" href="/graficas">GRÁFICAS</a>
    </li>
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-regular fa-star" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item  me-auto" href="/resana">RESEÑA</a> 
    </li>
    <!--! Opción "Encuesta" con el tercer sidebar -->
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-regular fa-pen-to-square" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item  me-auto" href="/encuesta">ENCUESTA</a>
    </li>
    <!-- Opción "Envío" con el segundo sidebar -->
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-regular fa-envelope" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item  me-auto" href="/envio">ENVIO</a>
    </li>
  </ul>
</div>


