<link rel="stylesheet" href="./css/sidebar.css">

<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 230px; background-color: #5c5c5c;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-solid fa-chart-line" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item me-auto" href="/graficas">GRÁFICAS</a>
    </li>
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-regular fa-star" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item  me-auto" href="/resana">RESEÑA</a> 
    </li>
    <li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-regular fa-pen-to-square" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item  me-auto" href="/template">ENCUESTA</a>
    </li>
    <!--<li class="dropdown-item-sidebar d-flex align-items-center">
      <icon class="icon"></icon>
      <i class="fa-regular fa-envelope" style="color: #ffffff; padding-right: 20px;"></i>
      <a class="dropdown-item  me-auto" href="/envio">ENVIO</a>
    </li>--> 
  </ul>
</div>