<div class="wrapper">
  <aside id="sidebar">
      <div class="d-flex">
          <button class="toggle-btn" type="button">
              <i class="lni lni-grid-alt"></i>
          </button>
      </div>
      <ul class="sidebar-nav">
          <li class="sidebar-item"> 
              <a href="/graficas" class="sidebar-link">
                  <i class="lni lni-bar-chart"></i>
                  <span>GRÁFICAS</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="/resena" class="sidebar-link">
                  <i class="fa-regular fa-star"></i>
                  <span>RESEÑAS</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="/template" class="sidebar-link">
                  <i class="lni lni-pencil-alt"></i>
                  <span>ENCUESTAS</span>
              </a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="lni lni-users"></i>
                <span>GESTIÓN </span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/gestionUsuarios" class="sidebar-link">Usuarios</a>
                </li>
                <li class="sidebar-item">
                    <a href="/gestionRoles" class="sidebar-link">Roles</a>
                </li>
            </ul>
        </li>
      </ul>
  </aside>