<link rel="stylesheet" href="./css/subSidebar.css">

<div class="d-flex flex-column flex-shrink-0 p-3 sideNab2" style="width: 230px;">
    <ul class="navbar-nav ms-4" >
        <li  class="border-bottom mb-3 d-flex align-items-center">
            <label>PRODUCTO</label>
        </li>
        <li class="mb-3 d-flex align-items-center">
          <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault1">
          <label class="form-check-label" for="flexCheckDefault1">Colchones</label>
        </li>
        <li class="mb-3 d-flex align-items-center">
          <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault2">
          <label class="form-check-label" for="flexCheckDefault2">Almohadas</label>
        </li>
        <li class="mb-3 d-flex align-items-center">
          <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault3">
          <label class="form-check-label" for="flexCheckDefault3">Muebles</label>
        </li>
        <li class="mb-3 d-flex align-items-center">
          <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault4">
          <label class="form-check-label" for="flexCheckDefault4">Blancos</label>
        </li>
        <li class="mb-3 d-flex align-items-center">
          <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault5">
          <label class="form-check-label" for="flexCheckDefault5">Niños</label>
        </li>
      </ul>
  </div>
