/* Estilo personalizado para la barra lateral principal */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top:auto;
    left: 0;
    background-color: #5c5c5c;
    padding-top: 20px;
  }

  /* Estilo para los enlaces de la barra lateral */
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
  }

  /* Transformación al pasar el ratón sobre las opciones */
.dropdown-item:hover .icon {
    transform: translateX(-340%);
    width: 6px;
    height: 35px;
    background-color: #d12020;
}

  /* Estilo de subBarra de Reseña y envio*/
  .sideNab2 {
    height: 100%;
    width: 250px;
    position: fixed;
    
    background-color: #ffffff;
    padding-top: 20px;
  
    border-right: 1px solid #000000; 
    z-index: 1000;
    top:131px;
    left: 250px;
    color: #000000; 
    overflow-y: auto;
  }

  /* Muestra el offcanvas cuando tiene la clase "show" */
  .sideNab2.show {
    display: block; 
  }

 /* Estilo de subBarra de Encuesta*/
  .sideNab3 {
    height: 100%;
    width: 250px;
    position: fixed;
    top:auto;
    left: 0;
    
    background-color: #5c5c5ccb;
    padding-top: 20px;
  
    top:160px;
    left: 250px;
    height: 30%;
    color: #000000; 
    overflow-y: auto; 
  }

  /* Hacer que la sombra de fondo sea transparente */
  .offcanvas-backdrop.show {
    opacity: 0; 
  }

  