

<div class="sidenav">
    <ul>
    <!-- Opción "Graficas" con el segundo sidebar -->
      <li class="dropdown-item d-flex align-items-center">
        <icon class="icon"></icon>
        <i class="fa-solid fa-chart-line" style="color: #ffffff;"></i>
        <a class="dropdown-item me-auto" href="/Graficas">GRÁFICAS</a>
      </li>

    <!-- Opción "Reseña" con el segundo sidebar -->
      <li class="dropdown-item d-flex align-items-center">
        <icon class="icon"></icon>
        <i class="fa-regular fa-star" style="color: #ffffff;"></i>
        <a class="dropdown-item" href="/Reseña" data-bs-target="#menuReseña" data-bs-toggle="collapse">RESEÑA</a>
        <div class="border border-black sideNab2 collapse" id="menuReseña">
          <!-- Segundo sidebar -->
          <div>
            <ul class="navbar-nav ms-4" >
              <li  class="border-bottom mb-3 d-flex align-items-center">
                <a class="text-black text-center me-auto">PRODUCTO</a>
              </li>
              <li class="mb-3 d-flex align-items-center">
                <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">Colchones</label>
              </li>
              <li class="mb-3 d-flex align-items-center">
                <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">Almohadas</label>
              </li>
              <li class="mb-3 d-flex align-items-center">
                <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">Muebles</label>
              </li>
              <li class="mb-3 d-flex align-items-center">
                <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckDefault4">Blancos</label>
              </li>
              <li class="mb-3 d-flex align-items-center">
                <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                <label class="form-check-label" for="flexCheckDefault5">Niños</label>
              </li>
            </ul>
          </div>
        </div>
      </li>
      

      <!-- Opción "Encuesta" con el tercer sidebar -->
      <li class="dropdown-item d-flex align-items-center">
        <icon class="icon"></icon>
        <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
        <a class="dropdown-item" href="/Encuesta" data-bs-toggle="offcanvas" data-bs-target="#menuEncuesta" data-toggle="collapse" data-target="#secondSidebar">ENCUESTA</a>
        
        <div class="sideNab3 collapse" id="menuEncuesta" tabindex="-1" >
          <!-- Segundo sidebar -->
          <div class="offcanvas-body">
            <ul class="navbar-nav ms-4">
              <li class="dropdown-item d-flex align-items-center">
                <a class="dropdown-item me-auto" href="#">PRODUCTO</a>
              </li>
              <li class="dropdown-item d-flex align-items-center">
                <a class="dropdown-item me-auto" href="#">TEMPLATE</a>
              </li>
              <li class="dropdown-item d-flex align-items-center">
                <a class="dropdown-item me-auto" href="#">PREGUNTAS</a>
              </li>
              <li class="dropdown-item d-flex align-items-center">
                <a class="dropdown-item me-auto" href="#">ENVÍO</a>
              </li>
            </ul>
          </div>
        </div>
      </li>

  <!-- Opción "Envío" con el segundo sidebar -->
  <li class="dropdown-item d-flex align-items-center">
    <icon class="icon"></icon>
    <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
    <a class="dropdown-item" href="/Envio" data-bs-target="#menuEnvio" data-bs-toggle="collapse">ENVIO</a>
    <div class="border border-black sideNab2 collapse" id="menuEnvio">
      <!-- Segundo sidebar -->
      <div>
        <ul class="navbar-nav ms-4" >
          <li  class="border-bottom mb-3 d-flex align-items-center">
            <a class="text-black text-center me-auto">PRODUCTO</a>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault1">
            <label class="form-check-label" for="flexCheckDefault1">Colchones</label>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault2">
            <label class="form-check-label" for="flexCheckDefault2">Almohadas</label>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault3">
            <label class="form-check-label" for="flexCheckDefault3">Muebles</label>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault4">
            <label class="form-check-label" for="flexCheckDefault4">Blancos</label>
          </li>
          <li class="mb-3 d-flex align-items-center">
            <input class="me-2 form-check-input" type="checkbox" value="" id="flexCheckDefault5">
            <label class="form-check-label" for="flexCheckDefault5">Niños</label>
          </li>
        </ul>
      </div>
    </div>
  </li>