<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3 ">
  <div class="container form">
      <label for="titulo" class="form-label label-crearUsuario">Catálogo de encuestas</label>
          
  </div>
</div>


<%- include('includes/footer.ejs') %>