<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<%- include('includes/subsidebar.ejs') %>

<div class="main p-3">
    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12">
       
                <!-- Menú de las diferentes gráficas -->
                <div class="btn-group d-flex" role="group" aria-label="Menu de gráficas">
                    <button type="button" class="btn btn-secondary active flex-fill">Número de reseñas</button>
                    <button type="button" class="btn btn-light flex-fill">Calificación de estrellas</button>
                    <button type="button" class="btn btn-light flex-fill">Order to review</button>
                </div><br>

                <!-- Menú de selección por marca, categoría y producto-->
                <select class="form-select" aria-label="Default select example" id="selectMenu">
                    <option selected>Marca</option>
                    <option value="categoria">Categoría</option>
                    <option value="producto">Producto</option>
                </select><br>

                <!-- Menú desplegable de categorías -->
                <select class="form-select form-select-sm" aria-label="Small select example" id="categoriaDropdown" style="display: none;">
                    <option selected disabled>Seleccione una categoría</option>
                    <option value="Colchones">Colchones</option>
                    <option value="Almohadas">Almohadas</option>
                    <option value="Muebles">Muebles</option>
                    <option value="Blancos">Blancos</option>
                    <option value="Niños">Niños</option>
                </select>
                
                <!-- Menú desplegable de productos -->
                <select class="form-select form-select-sm" aria-label="Small select example" id="productoDropdown" style="display: none;">
                    <option selected disabled>Seleccione un producto</option>
                    <option value="Producto1">Colchón Nooz Essential -KING</option>
                    <option value="Producto2">Colchón Nooz Essential -MATRI</option>
                    <option value="Producto3">Colchón Nooz Essential -QUEEN</option>
                    <option value="Producto4">Colchón Nooz Infusion -INDI</option>
                    <option value="Producto5">Colchón Nooz Infusion -QUEEN</option>
                    <option value="Producto6">Colchón Nooz Infusion -KING</option>
                </select>

                <!-- Imagen representativa de las gráficas -->
                <br><img src="https://img.freepik.com/free-vector/blue-marketing-charts-design-template_52683-24522.jpg" class="img-fluid" alt="Representación de gráfica">
                </div>
            </div>
</div>        
</div>

<%- include('includes/footer.ejs') %>