<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="main p-3">
    <div class="container graficas">
        <!-- Menú de las diferentes gráficas -->
        <div class="btn-group d-flex" role="group" aria-label="Menu de gráficas">
            <button type="button" class="btn btn-secondary active flex-fill">Número de reseñas</button>
            <button type="button" class="btn btn-light flex-fill">Calificación de estrellas</button>
            <button type="button" class="btn btn-light flex-fill">Order to review</button>
        </div><br>

        <div class="row">
            <div class="col-sm-4">
                <!-- Menú desplegable de categorías -->
                <select class="form-select form-select-sm" aria-label="Small select example" id="categoriaDropdown">
                    <option value="todasCategorias">Todas las categorías</option>
                    <option value="Colchones">Colchones</option>
                    <option value="Almohadas">Almohadas</option>
                    <option value="Muebles">Muebles</option>
                    <option value="Blancos">Blancos</option>
                    <option value="Niños">Niños</option>
                </select>

            </div>
            <div class="col-sm-4">
                <!-- Menú desplegable de productos -->
                <select class="form-select form-select-sm" aria-label="Small select example" id="productoDropdown">
                    <option value="todosProductos">Todos los productos</option>
                    <option value="Producto1">Colchón Nooz Essential -KING</option>
                    <option value="Producto2">Colchón Nooz Essential -MATRI</option>
                    <option value="Producto3">Colchón Nooz Essential -QUEEN</option>
                    <option value="Producto4">Colchón Nooz Infusion -INDI</option>
                    <option value="Producto5">Colchón Nooz Infusion -QUEEN</option>
                    <option value="Producto6">Colchón Nooz Infusion -KING</option>
                </select>
            </div>
            <div class="col-sm-4">
                <!-- Especificación de las fechas -->
                <div id="date-range-container" class="container">
                <div class="row no-gutters" id="formsFechasInicioFin">
                    <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="start-date" name="start-date" class="form-control" placeholder="Fecha de Inicio">
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="end-date" name="end-date" class="form-control" placeholder="Fecha de fin">
                    </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    
        <!-- Imagen representativa de las gráficas -->
        <br>
        <img id="imagenRepresentativaGrafica" src="https://img.freepik.com/free-vector/blue-marketing-charts-design-template_52683-24522.jpg" class="img-fluid" alt="Representación de gráfica">
    </div>
</div>

<%- include('includes/footer.ejs') %>