<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<!--Agregar css con estilos para despliegue de calendario-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

<div class="main p-3">
    <div class="container graficas">
        <!-- Mensaje de descarga -->
        <div id="mensajeDescarga" class="mensaje-descarga hidden">
            <div class="card position-absolute top-50 start-50 translate-middle-x" style="z-index: 1000;">
                <div class="card-body">
                    <button type="button" class="close position-absolute top-0 end-0 cerrar-mensaje" onclick="cerrarMensaje()">&times;</button>
                    <img class = "imagen-mensaje" src="https://th.bing.com/th/id/R.8bfd6c898d5d12a841301a5920fbc952?rik=bO1yKiy5RnL58g&pid=ImgRaw&r=0" alt="Imagen de mensaje">
                    <p class = "contenido-mensaje" id="contenidoMensaje"></p>
                </div>
            </div>
        </div>
        
        <!-- Menú de las diferentes gráficas -->
        <div class="btn-group d-flex" role="group" aria-label="Menu de gráficas">
            <button type="button" id = "numeroResenas" class="btn btn-light active flex-fill">Número de reseñas</button>
            <button type="button" id = "calificacionEstrellas" class="btn btn-light flex-fill">Calificación de estrellas</button>
            <button type="button" id = "orderToReview" class="btn btn-light flex-fill">Order to review</button>
        </div><br>

        <div class="row">
            <div class="col-sm-4">
                <!-- Menú desplegable de categorías -->
                <select class="form-select form-select-sm" aria-label="Small select example" id="categoriaDropdown">
                    <option value="todasCategorias">Todas las categorías</option>
                    <option value="Colchones">Colchones</option>
                    <option value="Almohadas">Almohadas</option>
                    <option value="Muebles">Muebles</option>
                    <option value="Blancos">Blancos</option>
                    <option value="Niños">Niños</option>
                </select>

            </div>
            <div class="col-sm-4">
                <!-- Menú desplegable de productos -->
                <select class="form-select form-select-sm" aria-label="Small select example" id="productoDropdown">
                    <option value="todosProductos">Todos los productos</option>
                    <option value="Producto1">Colchón Nooz Essential -KING</option>
                    <option value="Producto2">Colchón Nooz Essential -MATRI</option>
                    <option value="Producto3">Colchón Nooz Essential -QUEEN</option>
                    <option value="Producto4">Colchón Nooz Infusion -INDI</option>
                    <option value="Producto5">Colchón Nooz Infusion -QUEEN</option>
                    <option value="Producto6">Colchón Nooz Infusion -KING</option>
                </select>
            </div>
            <div class="col-sm-4">
                <!-- Especificación de las fechas -->
                <div id="date-range-container" class="container">
                <div class="row no-gutters" id="formsFechasInicioFin">
                    <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="start-date" name="start-date" class="form-control" placeholder="Fecha de Inicio">
                    </div>
                    </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="end-date" name="end-date" class="form-control" placeholder="Fecha de fin">
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>  
    
        <!-- Imagen representativa de las gráficas -->
        <br>
        <img id="imagenRepresentativaGrafica" src="https://img.freepik.com/free-vector/blue-marketing-charts-design-template_52683-24522.jpg" class="img-fluid" alt="Representación de gráfica">
        <div class="reporte">
            <button class = "download" onclick="window.location.href='/reporte'">
                <i class="fa-solid fa-download"></i>
            </button>        
        </div>      
    </div>
</div>

<!--Scripts para el despliegue de calendario-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
$(document).ready(function() {
    $('#start-date').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
    });
    $('#end-date').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
    });
});

        $("#numeroResenas").click(function () {
          window.location.href = "/graficas";
        });
        $("#calificacionEstrellas").click(function () {
            window.location.href = "/graficas/calificacionEstrellas";
        });
        $("#orderToReview").click(function () {
            window.location.href = "/graficas/orderToReview";
        });
</script>

<%- include('includes/footer.ejs') %>