<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<%- include('includes/subsidebar.ejs') %>


<div class="main p-3">
    <div class="container">
      
      <!--Prototipo del perfil del usuario (falta ajustar la imagen)-->
     
        <div class="container my-5">
          <div class="row row-cols-1"> <div class="col-md-10"> <div class="content-box">
                <div class="card">
                  <div class="card-body">
                    <div class="user-info">
                      <div class="profile-picture">
                        <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
                      </div>
                      <div>
                        <br>
                        <h4>Usuario</h4>
                        <span class="user-role">Administrador</span>
                      </div>
                      <br>
                    </div>
                    <div class="mb-3">
                      <label for="inputNombre" class="form-label"><i class="fas fa-user"></i> Nombre</label>
                      <input type="text" class="form-control" id="inputNombre" value="John Doe" readonly>
                    </div>
                    <div class="mb-3">
                      <label for="inputEmail" class="form-label"><i class="fas fa-envelope"></i> Correo</label>
                      <input type="email" class="form-control" id="inputEmail" value="john.doe@example.com" readonly>
                    </div>
                    <div class="mb-3">
                      <label for="inputUsuario" class="form-label"><i class="fas fa-user"></i> Contraseña</label>
                      <input type="text" class="form-control" id="inputUsuario" value="************" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </div>
<%- include('includes/footer.ejs') %>