<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<%- include('includes/subsidebar.ejs') %>

<div class="main p-3">
  <div class="container">
    <div class="row miPerfil">
      <!-- Column for the image -->
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div>
          <!-- Replace "image_path" with the path to your image -->
          <img src="https://icon-library.com/images/username-icon-png/username-icon-png-6.jpg" alt="Profile Picture" class="img-fluid profile-picture mb-4">
          <p class="text-center">Username</p>
          <p class="text-center">Usernametype</p>
        </div>
      </div>
      
      <!-- Column for the form -->
      <div class="col-md-8">
        <form>
          <div class="mb-5 contenido-con-margen">
            <label for="inputNombre" class="form-label label-miPerfil">NOMBRE</label>
            <input type="text" class="form-control input-miPerfil" id="inputNombre" value="Nombre Usuario" readonly>
          
            <label for="inputEmail" class="form-label label-miPerfil">CORREO</label>
            <input type="email" class="form-control input-miPerfil" id="inputCorreo" value="correousuario@example.com" readonly>
          
            <label for="inputUsuario" class="form-label label-miPerfil">CONTRASEÑA&nbsp;</label>
            <i class="lni lni-pencil"></i>
            <input type="password" class="form-control input-miPerfil" id="inputContraseña" value="contraseña" readonly>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<%- include('includes/footer.ejs') %>

<!-- 
          <div class="user-info d-flex align-items-center">
          <div class="profile-picture me-3">
            <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
          </div>
          <div class = "info-usuario">
            <h4>Usuario</h4>
            <span class="user-role">Administrador</span>
          </div>
        </div>
-->