<%- include('includes/navbar.ejs') %>
<%- include('includes/sidebar.ejs') %>

<!--FALTA AGREGAR FUENTE-->
<div class="main d-flex justify-content-center">
  <div class="w-50 h-auto" style="background-color: #669DD5;">
    <div class="card-body" >
      <div class="col-md-8 mx-auto">
        <h4 class="mt-3 mb-5 texto-Usuario text-center text-white">Modificar Usuario</h4>

        <form>
          <div class="mb-3">
            <label for="inputNombre" class="fs-5 form-label text-white">Nombre</label>
            <input type="text" class="form-control rounded-pill" id="inputNomb" value="Nombre Usuario" readonly>
          </div>
          
          <div class="mb-3">
            <label for="inputUsuario" class="fs-5 form-label label-miPerfil text-white">Contraseña</label>
            <input type="password" class="form-control rounded-pill" id="inputContra" value="contraseña" readonly>
          </div>

          <div class="mb-3">
            <label for="inputNombre" class="fs-5 form-label label-miPerfil text-white">Rol</label>
            <input type="text" class="form-control rounded-pill" id="inputRol" value="Rol del Usuario" readonly>
          </div>

          <button class="mt-5 btn rounded-pill bg-black text-white w-75" type="submit">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer.ejs') %>
