.tarjetaComprasEncabezado {
    background-color: #FD5859;
    color: #fff; 
    margin-top: 30px;
    margin-bottom: 40px;
}

.table-responsive {
    height: calc(80vh);
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
}
  
.limit-vert-scroll {
    max-height: 350px; /* Limita la altura vertical */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
}
  

.consultar-compras{
    font-family: 'Montserrat', sans-serif;
}

.espacio-boton{
    background-color: #fafbfe; 
}

.envio-boton{
    margin-top: 85px;
    margin-right: 20px;
    background-color: black; 
    color: white; 
    border: none;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.envio-boton:hover {
    background-color: rgba(0, 0, 0, 0.674)!important; 
    color: white !important; 
}