.buscarUsuario{
    align-items: flex-end;
} 

.btn-agregarUsuario { 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #FFA73A; 
    color: #fff; 
    font-weight: 700; 
} 