.consultar-usuarios{
    font-family: 'Montserrat', sans-serif;
}

/* Buscar usuarios */
.buscarUsuario{
    align-items: flex-end;
} 

/* Agregar usuarios */
.btn-agregarUsuario { 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #000000; 
    color: #fff; 
    font-weight: 550; 
    margin-top: 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
} 

.btn-agregarUsuario:hover {
    background-color: #FFA73A; 
    color: #fff; 
  }


/* Tarjetas de usuarios */
.tarjetaUsuario {
    background-color: #f1f1f1;
    align-items: center;
    margin-bottom: 5px;
} 

#tarjetaUsuarioEncabezado {
    background-color: #FD5859;
    border: 1px #FD5859; 
    color: #fff; 
    margin-top: 30px;
    margin-bottom: 40px;
}

#tarjetaRolesEncabezado {
    background-color: #4166b1;
    border: 1px #4166b1; 
    color: #fff; 
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Estilo imagen de tarjeta */
.icon-tarjeta-usuario {
    border-radius: 50%; 
    height: 40px;
    width: 40px; 
    margin-top: 20px;
}

.text-tarjeta-usuario{
    font-size: 14px;
    font-weight: 300;
}

.username-usuario-tarjeta-titulo{
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
}

.username-usuario-tarjeta{
    font-size: 14px;
    font-weight: 500;
    padding-left: 40px;
}

.btn-modificar-eliminar {
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.errorcrearusuario {
    text-align: center;
    color: red;
    margin-bottom: 20px;
  }
.usernamemargin{
    margin-right: 30px;
}