/* Estilo de fuente y contenedor*/
.graficas{
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/* centrar la imagen representativa */
#imagenRepresentativaGrafica {
    display: block;
    margin: 0 auto; 
    width: 80%;
}

/* estilo del calendario */

/* Estilo para el contenedor del calendario */
.datepicker-dropdown {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    background-color: #fff;
}

/* Estilo para los días del calendario */
.datepicker-days th, .datepicker-days td {
    font-size: 12px;
}

