/* Estilos de fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Navbar margenes */
.navbar-brand {
    margin-left: 5px; 
}

.nav-link:last-child {
    margin-right: 10px; 
}

/* Estilo de fuente del logo */
.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Estilos de fuente del contenedor y dropdown */
.font-type {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/* Estilo del enlace de la barra de navegación */
.nav-link {
    color: black;
}

/* Estilo del enlace de la barra de navegación al pasar el ratón */
.nav-link.cambio:hover{
    color: #FD5859;
}

/* Estilo para el enlace "MI PERFIL" cuando está activo */
.nav-link.miPerfil.active {
    color: #FD5859; 
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove box shadow */
    text-decoration: underline; /* Optionally add underline to indicate active link */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
}

.nav-link.miPerfil {
    color: black; 
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove box shadow */
    text-decoration: underline; /* Optionally add underline to indicate active link */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
}

/* Fondo del menú desplegable */
.dropdown-menu {
    border-radius: 0;
    background-color: #5c5c5c;
}

/* Color del fondo al pasar el ratón sobre el elemento desplegable */
.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 3px solid #FD5859;
}

/* Color del elemento en el menú desplegable */
.dropdown-item a, .dropdown-item:hover a {
    color: white;
}

/* Alineación del menú desplegable*/
.dropdown-menu {
    text-align: center;
}

.dropdown-item {
    display: block;
}


/* Línea de separación */
.line {
    border-top: 10px solid #F1F2F2; 
    margin-top: 0; 
    margin-bottom: 0;
}

/* Color del triángulo del dropdown */
.dropdown-toggle::after {
    border-top-color: #FD5859;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
  .burgercenter{
    padding: 16px;
  }
  .burger span {
    background-color: rgb(167, 39, 39); /* Color de fondo de los span */
    
  }
