/* Transformación y estilos del icono al pasar el ratón sobre el elemento desplegable */
.dropdown-item-sidebar:hover .icon {
  transform: translateX(-100%);
  width: 6px;
  height: 35px;
  background-color: #FD5859;
  border-radius: 0;
}

/* Estilos al pasar el ratón sobre el elemento desplegable */
.dropdown-item-sidebar:hover {
  background-color: #303030;
}

.dropdown-item-sidebar a {
  color: white;
}

.dropdown-item-sidebar:hover a {
  color: white;
}

.dropdown-item-sidebar {
  display: flex; /* Enable flexbox for the list item */
  align-items: center; /* Align content vertically */
}

.sidebar {
  background-color: red;
}

.d-flex.flex-column.flex-shrink-0.p-3 {  /* Target existing classes */
  height: 100vh;
}



