/* Estilo para quitar subrayado en los enlaces */
a {
  text-decoration: none;
}

/* Definir diseño flexible para el contenedor principal */
.wrapper {
  display: flex; 
}

/* Estilo del contenedor donde se encuentra del contenido principal */
.main {
  width: 100%; /* Ancho completo */
  min-height: calc(100vh - 65px); /* Altura mínima: 100% de la ventana menos 65px de la barra de navegación*/
  overflow: hidden; /* Oculta el contenido que se desborda */
  transition: all 0.35s ease-in-out; /* Transición suave para animaciones */
  background-color: #fafbfe; 
}

/* Estilo de barra lateral */
#sidebar {
  width: 40px; /* Ancho inicial */
  min-width: 70px; /* Ancho mínimo */
  z-index: 1000; /* Índice z para superposición */
  transition: all .25s ease-in-out; /* Transición para animaciones suaves */
  background-color: #5C5C5C; 
  display: flex; /* Flexbox para diseño flexible */
  flex-direction: column; /* Dirección de la columna para elementos secundarios */
}

/* Expandir la barra lateral */
#sidebar.expand {
  width: 230px; 
  min-width: 230px; /* Ancho mínimo expandido */
}

/* Estilo de botón para desplegar la barra lateral principal*/
.toggle-btn {
  background-color: transparent; 
  cursor: pointer; 
  border: 0; 
  padding: 1rem 1.5rem; 
}

.toggle-btn i {
  font-size: 1.5rem; /* Tamaño del icono */
  color: #FFF; 
  color: #FD5859;
}

/* Ocultar logo y enlaces cuando la barra lateral no está expandida */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none; 
}

/* Estilo de navegación de la barra lateral */
.sidebar-nav {
  padding: 2rem 0; 
  flex: 1 1 auto; 
}

/* Estilo de enlaces de la barra lateral */
a.sidebar-link {
  padding: .625rem 1.625rem; /* Espaciado interno */
  color: #FFF; 
  display: block; /* Mostrar como bloque */
  white-space: nowrap; /* No envolver texto */
  border-left: 3px solid transparent; /* Borde izquierdo transparente */
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300; 
  font-size: 14px; 
}

.sidebar-link i {
  font-size: 1.1rem; 
  margin-right: .75rem; 
}

/* Estilo al pasar el mouse sobre los enlaces */
a.sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.5); 
  border-left: 3px solid #FD5859; 
}

.sidebar-item {
  position: relative;
}

/* Estilos para dropdown de sidebar */
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #5C5C5C;
  padding: 0;
  min-width: 15rem;
  display: none;
  border: 1px solid rgb(110, 105, 105); 
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-out;
}

/* Estilo para el enlace "MI PERFIL" cuando está activo */
a.sidebar-link.miPerfil.active {
  color: #FD5859; 
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
  text-decoration: underline; /* Optionally add underline to indicate active link */
  margin: 0;
  text-decoration: none;
  padding: .625rem 1.625rem; /* Espaciado interno */
  display: block; /* Mostrar como bloque */
  white-space: nowrap; /* No envolver texto */
  border-left: 3px solid transparent; /* Borde izquierdo transparente */
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300; 
  font-size: 14px; 
}

a.sidebar-link.miPerfil {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
  text-decoration: underline; /* Optionally add underline to indicate active link */
  margin: 0;
  text-decoration: none;
  padding: .625rem 1.625rem; /* Espaciado interno */
  color: #FFF; 
  display: block; /* Mostrar como bloque */
  white-space: nowrap; /* No envolver texto */
  border-left: 3px solid transparent; /* Borde izquierdo transparente */
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300; 
  font-size: 14px; 
}
